body{
	background-attachment:fixed;
	margin:0;
    background:#ffffcc;
}
.nav{
	width:100%;
	background:maroon;
   
}
ul{
	margin:0px;
	padding:-10px;
	height:50px;
	display:block;
	text-align:left;
	list-style:none;
	font-family:MetaWebPro-Bold,sans-serif

}
ul li{
	float:left;
	width:180px;
	height:50px;
	background:maroon;
	font-size:15px;
	line-height:50px;
	text-align:center;
	opacity:1;
	border-radius:10px;
	font-family:MetaWebPro-Bold,sans-serif
}
ul li ul li{
	background:maroon;
	display:block;
	border-radius:10px;
	height:50px;
	
	
}
ul li a{
	text-decoration:none;
	color:white;
	display:block;
}

ul li a:hover{
	background-color:green;
	color:yellow;
	height:50px;
	border-radius:10px;
	
}

ul ul {
	display:none;
	padding:0px;
	margin-top:0px;
	
	
}
ul li:hover>ul{
	display:block;
	
}
ul ul ul{
	top:0px;
	position:absolute;
	margin-left:180px;
	margin-top:0px;
	
}
ul ul li{
	position:relative;
}
ul ul ul ul ul ul ul ul ul ul ul{
	
	height:30px;
}

ul ul ul ul ul ul ul ul ul ul {
	
	height:30px;
}
ul ul ul ul ul ul ul ul ul{
	
	height:30px;
}
ul ul ul ul ul ul ul ul{
	
	height:30px;
}
ul ul ul ul ul ul ul {
	
	height:30px;
}

#container{
	height: 350px;
	width: 1200px;
	border: 1px solid black;
	margin: 0 auto;
	position: relative;
background-size: 100% 100%;
background-repeat: no-repeat;
background-position: relative;
}
#container>img{
	width : 100%;
	height :100%;
	position:absolute;
	
}
#container>.btn{
	position:absolute;
	width:50px;
	height:50px;
	border:none;
	border-radius:25px;
	top:200px;
	background:black;
	color:white;
	font-size:20px;
}
.footer{
	height:70px;
	text-align:left;
	color:red;
	background-color:#ffd700;
	margin-top:450px;
	padding-top:-10px;
}
.footer1{
	height:70px;
	text-align:right;
	color:blue;
	background-color:#ffd700;
	margin-top:800px;
	padding-top:0px;
}
.footer2{
	height:70px;
	text-align:right;
	color:blue;
	background-color:#ffd700;
	margin-top:600px;
	padding-top:0px;
}
.name{
	height:440px;
	width:1506px;
	background-color:#ffd700;
	padding-left:30px;
	margin-top:125px;
	
}
.imgbckgrnd1{
	width:1536px;
	
}
.name1{
	height:95px;
	width:1506px;
	background-color:#ffd700;
	padding-left:30px;
	
}
#name2{
    background-color:;
    width: 400px;
    border: 20px solid maroon;
    padding: 25px;
    margin: 25px;
	height:400px;
	float:center;
	margin-left:475px;
	margin-top:225px;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: none;
    color: white;
    padding:15px; 
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
	float:right;
	text-align: center;
}
.button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
	border-radius: 12px;
}

.button2:hover {
    background-color: #4CAF50;
    color: white;
	border-radius: 12px;
	
}
.container{
	height:50px;
	
}
.buttonevents{
	margin-top:100px;
}

